body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

h2 {
    color: #5f9341;
    margin-bottom: 0;
}

p {
    color: #5f9341;
    margin-bottom: 5px;
    margin-top: 5px;
    font-style: italic;
}

input {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
}

button {
    background-color: #5f9341;
    border: 1px solid #5f9341;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 6px;
}

#delete-btn {
    background-color: white;
    color: #5f9341;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;

}